*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial;
}

:root {
	--color-tone-0: #000000;
	--color-tone-1: #4f4740;
	--color-tone-2: #796e63;
	--color-tone-3: #8f7a66;
	--color-tone-4: #a69382;
	--color-tone-5: #bbada0;
	--color-tone-6: #cbc0b3;
	--color-tone-7: #f9f5f1;
	--color-accent: #f23b0d;
	--color-accent-dark: #df4620;

	--text: var(--color-tone-1);
	--text-dark: var(--color-tone-1);
	--text-darker: var(--color-tone-2);
	--bg-game-board: var(--color-tone-5);
	--bg-cell: var(--color-tone-6);
	--bg-main: var(--color-tone-7);
	--border-color: var(--color-tone-3);
	--menu-width: max(20vw, 25ch);
}

.darkmode {
	--color-tone-0: #ffffff;
	--color-tone-1: #d8d9d9;
	--color-tone-2: #818283;
	--color-tone-3: #565758;
	--color-tone-4: #3a3a3c;
	--color-tone-5: #272729;
	--color-tone-6: #1a1a1b;
	--color-tone-7: #121213;
	--color-accent: #248ef1;
	--color-accent-dark: #1969b3;

	--text: var(--color-tone-0);
	--text-dark: var(--color-tone-1);
	--text-darker: var(--color-tone-2);
	--bg-game-board: var(--color-tone-6);
	--bg-cell: var(--color-tone-5);
	--bg-main: var(--color-tone-7);
	--border-color: var(--color-tone-3);
}

@media screen and (max-width: 650px) {
	html {
		font-size: 70%;
	}
}

@media screen and (max-width: 450px) {
	html {
		font-size: 50%;
	}
}

body {
	background: var(--bg-main);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	color: var(--text);
}

header,
footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header {
	top: 0;
	margin-inline: 2vmin;
	border-bottom: 0.3vmin solid var(--border-color);
	font-size: 3em;
	padding-block: 0.5vmin;
}

header svg {
	height: 100%;
	width: 100%;
}

footer {
	color: var(--text-darker);
	font-size: 0.9em;
	padding: 0 0 1em 1em;
}

main {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	position: relative;
}

button {
	border-radius: 0.2em;
	background: none;
	color: var(--text);
}

button:focus-visible {
	outline: none;
	box-shadow: 0 0 0 1px var(--color-accent), 0 0 0 2px var(--color-tone-0);
	fill: var(--color-accent);
	color: var(--color-accent);
}

.menu {
	display: flex;
	align-items: center;
	height: 100%;
	width: 50%;
	column-gap: 1vmin;
}

.menu.menu-left {
	justify-content: flex-start;
}

#title {
	position: relative;
	font-weight: bold;
}

#sub-title {
	font-size: 50%;
	color: var(--text-darker);
	font-weight: bold;
	position: absolute;
	bottom: 9%;
	left: 105%;
}

.menu.menu-right {
	justify-content: flex-end;
}

.score-container {
	font-size: 50%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	width: auto;
	height: 100%;
	color: var(--text-darker);
	font-weight: bolder;
}

#score-counter {
	color: var(--text);
	position: relative;
}

.score-increase {
	position: absolute;
	top: 0;
	left: 0;
	animation-duration: 500ms;
	animation-timing-function: ease-out;
}

.animate-left {
	animation-name: score-increase-slide-left;
}

.animate-right {
	animation-name: score-increase-slide-right;
}

@keyframes score-increase-slide-left {
	0% {
		opacity: 1;
		transform: translate(0, 0);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translate(-0.5em, -1em);
	}
}

@keyframes score-increase-slide-right {
	0% {
		opacity: 1;
		transform: translate(0, 0);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translate(0.5em, -1em);
	}
}

#game-board {
	user-select: none;
	display: grid;
	grid-template-columns: repeat(var(--grid-w), var(--cell-size));
	grid-template-rows: repeat(var(--grid-h), var(--cell-size));
	background: var(--bg-game-board);
	gap: var(--cell-gap);
	padding: var(--cell-gap);
	border-radius: 2vmin;
	position: relative;
}

.cell {
	background: var(--bg-cell);
	border-radius: 1vmin;
}

.icon-btn {
	border: none;
	height: 3em;
	width: 3em;
	fill: var(--text);
	cursor: pointer;
}

#reset-btn.reset-btn-spin > svg {
	transform: rotate(360deg);
	transition: transform 350ms ease-in-out;
}

#theme-btn {
	position: relative;
}

#theme-btn > .theme-btn-middle {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transform: translate(-10%, -5%) scale(1.3);
	transition: transform 600ms ease-out;
}

.darkmode #theme-btn > .theme-btn-middle {
	transform: none;
}

#theme-btn > .theme-btn-rays {
	border-radius: 50%;
	transition: transform 700ms cubic-bezier(0.16, 0.12, 0.28, 1.33);
}

.darkmode #theme-btn > .theme-btn-rays {
	transform: rotate(180deg);
}

.modal-backdrop {
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 250ms ease-in-out;
}

.modal-backdrop.show {
	opacity: 1;
}

.modal {
	position: relative;
	background: var(--bg-main);
	color: var(--text-dark);
	border: 2px solid var(--border-color);
	border-radius: 1rem;
	padding: 2rem;
	font-size: 1.2rem;
	max-width: 90vmin;
	min-width: 40vmin;
	max-height: 90vh;
	overflow-y: auto;
	transform: scale(0);
	transition: transform 250ms ease-in-out;
}

.modal-backdrop.show > .modal {
	transform: scale(1);
	transition: transform 250ms cubic-bezier(0.36, 0.35, 0.48, 1.25);
}

.modal-close-btn {
	background: none;
	border: none;
	color: inherit;
	font-size: 3em;
	height: 0.6em;
	line-height: 0em;
	position: absolute;
	top: 2rem;
	right: 2rem;
	cursor: pointer;
	color: var(--text);
}

.modal-title {
	text-align: center;
	color: var(--text);
	margin-bottom: 1em;
}

.modal-body > .modal-section:not(:last-child) {
	margin-bottom: 1em;
	border-bottom: 2px solid var(--border-color);
}

.modal-section:not(:last-child) > * {
	margin-bottom: 1em;
}

.arrow-keys {
	width: min(25vmin, 50%);
	stroke: var(--text-dark);
	stroke-width: max(0.25vmin, 3px);
	fill: none;
}

.arrow-keys * {
	transition: transform 100ms ease-in-out;
	transform-origin: bottom center;
}

.arrow-keys[data-key="left"] .arrow-left,
.arrow-keys[data-key="right"] .arrow-right,
.arrow-keys[data-key="up"] .arrow-up,
.arrow-keys[data-key="down"] .arrow-down {
	fill: var(--text-dark);
	stroke: none;
}

.arrow-keys[data-key="left"][data-animation="press"] .arrow-left {
	transform: scale(0.9) translate(1%, 8%);
}
.arrow-keys[data-key="right"][data-animation="press"] .arrow-right {
	transform: scale(0.9) translate(9%, 8%);
}
.arrow-keys[data-key="up"][data-animation="press"] .arrow-up {
	transform: scale(0.9) translate(5%, 0%);
}

.arrow-keys[data-key="down"][data-animation="press"] .arrow-down {
	transform: scale(0.9) translate(5%, 8%);
}

#example-section {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding-bottom: 1em;
}

.info-reopen-message > svg {
	fill: var(--text);
	transform: translateY(0.4em);
	margin-inline: -0.25em;
}

#info-board {
	user-select: none;
	display: grid;
	grid-template-columns: repeat(var(--grid-w), var(--cell-size));
	grid-template-rows: repeat(var(--grid-h), var(--cell-size));
	background: var(--bg-game-board);
	gap: var(--cell-gap);
	padding: var(--cell-gap);
	border-radius: 2vmin;
	position: relative;
}

#share-btn {
	background: var(--color-accent-dark);
	color: var(--text);
	padding: 1rem 2.5rem;
	font-size: inherit;
	border: none;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	fill: var(--text);
	cursor: pointer;
	gap: 1rem;
	font-weight: bold;
	position: relative;
	flex-grow: 1;
	width: 100%;
	transition: background 200ms ease-in-out;
}

#share-btn:hover,
#share-btn:focus-visible {
	background: var(--color-accent);
}

body:not(.darkmode) #share-btn {
	--text: white;
}

#share-btn-tooltip {
	content: "Copied to clipboard!";
	position: absolute;
	top: -0.7em;
	width: 22ch;
	background: var(--text-darker);
	padding: 1em;
	font-size: 60%;
	border-radius: inherit;
	opacity: 0;
	transition: opacity 250ms ease-in-out;
	transform: translateY(-100%);
}

#share-btn.show-tooltip > #share-btn-tooltip {
	opacity: 1;
}

#stats-modal-grid {
	display: grid;
	justify-items: center;
	grid-template-columns: auto auto;
	column-gap: 4em;
	row-gap: 2em;
	padding: 1em;
}

.stat-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stat-container > p:first-child {
	color: var(--text-darker);
	position: relative;
}

.stat-container > p:last-child {
	font-weight: bolder;
}

.stat-container.record > p:first-child:after {
	content: "NEW RECORD";
	position: absolute;
	top: -0.6em;
	left: calc(100% - 3em);
	font-size: 65%;
	text-align: center;
	width: 13ch;
	animation: recordFlash 1s ease-in-out infinite;
}

@keyframes recordFlash {
	0% {
		color: var(--text-dark);
		transform: rotate(20deg) scale(0.7);
	}
	50% {
		color: var(--color-accent);
		transform: rotate(20deg) scale(1);
	}
	100% {
		color: var(--text-dark);
		transform: rotate(20deg) scale(0.7);
	}
}

#stats-modal-share {
	display: grid;
	place-items: center;
	padding-inline: 3em;
}

/* SIDE MENU */

nav#menu {
	height: 100%;
	width: 100vw;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background: var(--bg-cell);
	overflow-x: hidden;
	transform: translateX(-100%);
	transition: transform 500ms cubic-bezier(0.4, 0, 0, 1);
	display: flex;
	flex-direction: column;
}

nav#menu.show {
	transform: none;
}

#menu-title {
	width: 100%;
	padding: 0.5em;
	font-size: 2em;
	font-weight: bold;
	position: relative;
	text-align: center;
}

#menu > * {
	white-space: nowrap;
}

.size-btn {
	background: var(--bg-cell);
	color: var(--text-dark);
	border-radius: 1vmin;
	border: none;
	font-weight: bolder;
	font-size: 3em;
	cursor: pointer;
	transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

.size-btn:hover {
	color: var(--text);
}

.size-btn:disabled {
	cursor: not-allowed;
}

.size-btn.selected {
	color: var(--tile-text-light);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#size-btns-container {
	display: grid;
	grid-template-columns: repeat(3, 20vmin);
	border-radius: 2vmin;
	padding: 2vmin;
	gap: 2vmin;
	height: 60vmin;
	background: var(--bg-game-board);
}

#size-btns-aligner {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
}

#menu-btn > svg > rect {
	transition: transform 500ms ease-in-out, width 500ms ease-in-out;
}

#menu-btn.to-cross > svg > .menu-bar-1,
#menu-btn.to-cross > svg > .menu-bar-3 {
	transform: rotate(45deg);
}

#menu-btn.to-cross > svg > .menu-bar-2 {
	transform: rotate(-45deg) translateX(-4px);
	width: 33px;
}

#menu .size-change-warning {
	padding: 2em;
	color: var(--text-darker);
}

@media screen and (max-width: 100vmin) {
	.icon-btn {
		height: 2em;
		width: 2em;
	}

	.modal {
		max-width: 90vw;
	}
}

#custom-size-grid {
	display: grid;
	grid-template-rows: 1fr 1.5fr;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	row-gap: 0.5em;
	column-gap: 0.3em;
}

#custom-size-grid > select {
	border-radius: 0;
	border: none;
	padding: 0.2em 1.4em 0.2em 0.2em;
	background: var(--bg-cell);
	color: var(--text);
	font-size: 1em;
}

#custom-size-grid > #confirm-buttons {
	display: flex;
	grid-column-start: span 3;
	justify-content: flex-end;
	column-gap: 1em;
	margin-top: 1em;
}

#cancel-btn,
#confirm-btn {
	background: var(--bg-game-board);
	color: var(--text);
	border-radius: 0.3em;
	border: none;
	font-size: 1em;
	cursor: pointer;
	transition: background-color 250ms ease-in-out;
	padding: 0.25em 0.8em;
	float: right;
}

#confirm-btn {
	background: var(--color-accent-dark);
}

#cancel-btn:hover {
	background: var(--bg-cell);
}

#confirm-btn:hover {
	background: var(--color-accent);
}
