*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial;
}

:root {
	--color-tone-0: #000000;
	--color-tone-1: #4f4740;
	--color-tone-2: #796e63;
	--color-tone-3: #8f7a66;
	--color-tone-4: #a69382;
	--color-tone-5: #bbada0;
	--color-tone-6: #cbc0b3;
	--color-tone-7: #f9f5f1;
	--color-accent: #f23b0d;
	--color-accent-dark: #df4620;

	--text: var(--color-tone-1);
	--text-dark: var(--color-tone-1);
	--text-darker: var(--color-tone-2);
	--bg-game-board: var(--color-tone-5);
	--bg-cell: var(--color-tone-6);
	--bg-main: var(--color-tone-7);
	--border-color: var(--color-tone-3);
	--header-size: min(4vmin, 4rem);
	--footer-size: calc(var(--header-size) / 3);
}

.darkmode {
	--color-tone-0: #ffffff;
	--color-tone-1: #d8d9d9;
	--color-tone-2: #818283;
	--color-tone-3: #565758;
	--color-tone-4: #3a3a3c;
	--color-tone-5: #272729;
	--color-tone-6: #1a1a1b;
	--color-tone-7: #121213;
	--color-accent: #248ef1;
	--color-accent-dark: #1969b3;

	--text: var(--color-tone-0);
	--text-dark: var(--color-tone-1);
	--text-darker: var(--color-tone-2);
	--bg-game-board: var(--color-tone-6);
	--bg-cell: var(--color-tone-5);
	--bg-main: var(--color-tone-7);
	--border-color: var(--color-tone-3);
}

body {
	background: var(--bg-main);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	color: var(--text);
}

header,
footer {
	position: fixed;
	left: 0;
	width: calc(100vw - 4vmin);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header {
	top: 0;
	font-size: var(--header-size);
	margin-inline: 2vmin;
	border-bottom: 0.3vmin solid var(--border-color);
	padding-block: 0.5vmin;
}

header svg {
	height: 100%;
	width: 100%;
}

footer {
	bottom: 0;
	font-size: var(--footer-size);
	opacity: 0.5;
	padding: 0 0 1em 1em;
}

button {
	border-radius: 0.2em;
	background: none;
	color: var(--text);
}

button:focus-visible {
	outline: none;
	box-shadow: 0 0 0 1px var(--color-accent), 0 0 0 2px var(--color-tone-0);
	fill: var(--color-accent);
	color: var(--color-accent);
}

.menu {
	display: flex;
	align-items: center;
	height: 100%;
	width: 25%;
	column-gap: 1vmin;
}

.menu.menu-left {
	justify-content: flex-start;
}

#title {
	position: relative;
}

#sub-title {
	font-size: 50%;
	color: var(--text-darker);
	font-weight: bold;
	position: absolute;
	bottom: 9%;
	left: 105%;
}

.menu.menu-right {
	justify-content: flex-end;
}

.score-container {
	font-size: 50%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	width: auto;
	height: 100%;
	color: var(--text-darker);
	font-weight: bolder;
}

#score-counter {
	color: var(--text);
}

#game-board {
	user-select: none;
	display: grid;
	grid-template-columns: repeat(var(--grid-w), var(--cell-size));
	grid-template-rows: repeat(var(--grid-h), var(--cell-size));
	background: var(--bg-game-board);
	gap: var(--cell-gap);
	padding: var(--cell-gap);
	border-radius: 2vmin;
	position: relative;
}

.cell {
	background: var(--bg-cell);
	border-radius: 1vmin;
}

.icon-btn {
	border: none;
	height: var(--header-size);
	width: var(--header-size);
	fill: var(--text);
	cursor: pointer;
	background: var(--bg-main);
}

#info-btn,
#theme-btn {
	border-radius: 999em;
}

#theme-btn {
	display: grid;
	place-items: center;
	position: relative;
}

#theme-btn > .theme-btn-rays {
	width: 60%;
	height: 60%;
	background: var(--text);
	position: absolute;
	transition: transform 700ms cubic-bezier(0.16, 0.12, 0.28, 1.33);
}

#theme-btn:focus-visible > .theme-btn-rays {
	background: var(--color-accent);
}

.darkmode #theme-btn > .theme-btn-rays {
	transform: rotate(360deg);
}

#theme-btn > .theme-btn-rays::before {
	content: "";
	position: absolute;
	background: var(--text);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transform: rotate(45deg);
}

#theme-btn:focus-visible > .theme-btn-rays::before {
	background: var(--color-accent);
}

#theme-btn > .theme-btn-rays::after {
	content: "";
	position: absolute;
	background: var(--bg-main);
	width: 80%;
	height: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}

#theme-btn > .theme-btn-middle {
	position: absolute;
	background: var(--text);
	width: 30%;
	height: 30%;
	border-radius: 50%;
	transform: translate(-40%, -30%) scale(1.3);
	transition: transform 600ms ease-out;
}

#theme-btn:focus-visible > .theme-btn-middle {
	background: var(--color-accent);
}

.darkmode #theme-btn > .theme-btn-middle {
	transform: none;
}

.outline-svg {
	fill: none;
	stroke: var(--text);
}

.modal-backdrop {
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 250ms ease-in-out;
}

.modal-backdrop.show {
	opacity: 1;
}

.modal {
	position: relative;
	background: var(--bg-main);
	color: var(--text-dark);
	border: 2px solid var(--border-color);
	border-radius: 1rem;
	padding: 2rem;
	font-size: 1.2rem;
	max-width: 90vmin;
	min-width: 40vmin;
	transform: scale(0);
	transition: transform 250ms ease-in-out;
}

.modal-backdrop.show > .modal {
	transform: scale(1);
	transition: transform 250ms cubic-bezier(0.36, 0.35, 0.48, 1.25);
}

.modal-close-btn {
	background: none;
	border: none;
	color: inherit;
	font-size: 3em;
	height: 0.6em;
	line-height: 0em;
	position: absolute;
	top: 2rem;
	right: 2rem;
	cursor: pointer;
	color: var(--text);
}

.modal-title {
	text-align: center;
	color: var(--text);
	margin-bottom: 1em;
}

.modal-body > .modal-section:not(:last-child) {
	margin-bottom: 1em;
	border-bottom: 2px solid var(--border-color);
}

.modal-section > p {
	margin-bottom: 1em;
}

.arrow-keys {
	width: max(25vmin, 125px);
	stroke: var(--text-dark);
	stroke-width: max(0.25vmin, 3px);
	fill: none;
}

.arrow-keys * {
	transition: transform 100ms ease-in-out;
	transform-origin: bottom center;
}

.arrow-keys[data-key="left"] .arrow-left,
.arrow-keys[data-key="right"] .arrow-right,
.arrow-keys[data-key="up"] .arrow-up,
.arrow-keys[data-key="down"] .arrow-down {
	fill: var(--text-dark);
	stroke: none;
}

.arrow-keys[data-key="left"][data-animation="press"] .arrow-left {
	transform: scale(0.9) translate(1%, 8%);
}
.arrow-keys[data-key="right"][data-animation="press"] .arrow-right {
	transform: scale(0.9) translate(9%, 8%);
}
.arrow-keys[data-key="up"][data-animation="press"] .arrow-up {
	transform: scale(0.9) translate(5%, 0%);
}

.arrow-keys[data-key="down"][data-animation="press"] .arrow-down {
	transform: scale(0.9) translate(5%, 8%);
}

#example-section {
	display: flex;
	justify-content: space-evenly;
	padding-bottom: 1em;
}

.info-reopen-message > svg {
	transform: translateY(0.4em);
	margin-inline: -0.25em;
}

#info-board {
	user-select: none;
	display: grid;
	grid-template-columns: repeat(var(--grid-w), var(--cell-size));
	grid-template-rows: repeat(var(--grid-h), var(--cell-size));
	background: var(--bg-game-board);
	gap: var(--cell-gap);
	padding: var(--cell-gap);
	border-radius: 2vmin;
	position: relative;
}

#share-btn {
	background: var(--color-accent-dark);
	color: var(--text);
	padding: 1rem 2.5rem;
	font-size: inherit;
	border: none;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	fill: var(--text);
	cursor: pointer;
	gap: 1rem;
	font-weight: bold;
	position: relative;
	flex-grow: 1;
	width: 100%;
}

#share-btn:hover,
#share-btn:focus-visible {
	background: var(--color-accent);
}

body:not(.darkmode) #share-btn {
	--text: white;
}

#share-btn-tooltip {
	content: "Copied to clipboard!";
	position: absolute;
	top: -0.7em;
	width: 22ch;
	background: var(--text-darker);
	padding: 1em;
	font-size: 60%;
	border-radius: inherit;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
	transform: translateY(-100%);
}

#share-btn.show-tooltip > #share-btn-tooltip {
    opacity: 1;
}

#stats-modal-grid {
	display: grid;
	justify-items: center;
	grid-template-columns: auto auto;
	column-gap: 4em;
	row-gap: 2em;
	padding: 1em;
}

.stat-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stat-container > p:first-child {
	color: var(--text-darker);
	position: relative;
}

.stat-container > p:last-child {
	font-weight: bolder;
}

.stat-container.record > p:first-child:after {
	content: "NEW RECORD";
	position: absolute;
	top: -0.6em;
	left: calc(100% - 3em);
	font-size: 65%;
	text-align: center;
	width: 13ch;
	animation: recordFlash 1s ease-in-out infinite;
}

@keyframes recordFlash {
	0% {
		color: var(--text-dark);
		transform: rotate(20deg) scale(0.7);
	}
	50% {
		color: var(--color-accent);
		transform: rotate(20deg) scale(1);
	}
	100% {
		color: var(--text-dark);
		transform: rotate(20deg) scale(0.7);
	}
}

#stats-modal-share {
	display: grid;
	place-items: center;
	padding-inline: 3em;
}
